# set "MNEMONIC" or "PRIVATE_KEYS"
ACCOUNT_TYPE="PRIVATE_KEYS"

# Your mnemonic if ACCOUNT_TYPE="MNEMONIC"
MNEMONIC=""

# Your private keys if ACCOUNT_TYPE="PRIVATE_KEYS"
PRIVATE_KEY_1=""
# PRIVATE_KEY_2=""
# PRIVATE_KEY_3=""
# PRIVATE_KEY_4=""
# PRIVATE_KEY_5=""

# Your infura key
INFURA_PROJECT_ID=""

# Block explorer API keys
ETHERSCAN_API_KEY=""
BSCSCAN_API_KEY=""
POLYGONSCAN_API_KEY=""
OPTIMISM_API_KEY=""
ARBISCAN_API_KEY=""
SNOWTRACE_API_KEY=""
FANTOM_API_KEY=""

GAS_PRICE=20
# Your coin market cap api key.
# https://coinmarketcap.com/api/documentation/v1/#section/Introduction
COIN_MARKET_CAP_API_KEY=""
