{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 80,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",

  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "useTabs": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
